<h1 class="center">Nosso Forum</h1></br>

<p style="text-align: justify;"> <font size = "5">      A criação do fórum veio da necessidade de acompanhar o ritmo de mensagens diárias que recebo de vocês. São muitas dúvidas, algumas complicadas
 outras não. Eu tento sempre fazer um filtro e pegar os casos mais alarmantes. É ai que entra a ideia do fórum . Não irá ser apenas eu a dar opiniões, será
 todos nós. Se todos nós ajudarmos uns aos outros, seremos ajudados também.</font></p>

 <p style="text-align: justify;"> <font size = "5">      As vezes a resposta que te direi, seria a mesmo que um membro diri
  e aquele que não sabe, aprenderá quando um que sabe como proceder ensinar. Isso é fenomenal, finalmente teremos
   espaço só nosso para podermos progredir e crescer como pessoa. Estimularemos a nossa ideologia, usaremos mais nossa
    simbologia e propagando nosso ideal.</font></p>

<p style="text-align: justify;"> <font size = "5">     Então resumidamente, quem pertencer ao fórum terá a oportunidade de:</br></br>

– Melhorar seu conhecimento, tirar suas dúvidas</br>
–  Textos exclusivos</br>
–  Ajudar as pessoas com problemas e criar um efeito de camaradagem entre membros</br>
–  Ter a oportunidade de criar seu nome, escrever textos, ganhar notoriedade e ser quem sabe futuro moderador e escritor do Portal Educa como professor</br>
– Ajudar milhares de pessoas.</br></font></p>



</br>
</br>
</br>
</br>
</br>