<h1 class="center">Nosso Forum</h1></br>

<p style="text-align: justify;"> <font size = "5">    O Portal Educa é um projeto que visa facilitar
 a relação aluno-professor por meio da utilização da plataforma online. Aqui os professores poderão
  postar conteúdos e exercícios das mais diversas matérias e ainda discutir e debater com os alunos. </font></p>

 <p style="text-align: justify;"> <font size = "5">     A ideia é reduzir as fronteiras da aprendizagem e
  aproximar alunos e professores. Aqui no portal Educa você poderá:</font></p>

<p style="text-align: justify;"> <font size = "5">
– Melhorar e ampliar seu conhecimento;</br>
– Tirar suas dúvidas;</br>
– Ter acesso a textos exclusivos;</br>
– Ajudar as pessoas com dificuldades e criar um efeito de camaradagem entre membros;</br>
– Ter a oportunidade de criar seu nome, escrever textos, ganhar notoriedade e ser quem sabe futuro moderador e escritor do Portal Educa como professor;</br>
– Ajudar milhares de pessoas.</br></font></p>



</br>
</br>
</br>
</br>
</br>